<mat-toolbar color="primary">
  <div fxFlex="8 1 auto">
    <span>Rendre un Cours</span>
  </div>
</mat-toolbar>

<div class="container">

  <table class="table table-striped">
    <thead>
    <th>Nom du cours</th>
    <th>Telechargement travail</th>
    <th>Actions</th>

    </thead>
    <tbody>
    <tr *ngFor="let work of courses">
      <td *ngIf="!work.course.hasContent">{{work.course.name}}</td>
      <td *ngIf="work.course.hasContent"><a href="/api/course/{{work.course.id}}/content">{{work.course.name}}</a></td>
      <td>
        <form-upload (fileEvent)="onSelect(work.course.id,$event)"></form-upload>
      </td>
      <td>
        <button class="btn btn-danger" (click)="deleteWork(work)">Clear</button>
      </td>
    </tr>
    </tbody>
  </table>

  <div class="content-main">

  </div>
</div>


<div fxLayout="row">
  <mat-toolbar color="primary">
    <span>Student-connect Footer</span>
  </mat-toolbar>

</div>
