<mat-toolbar color="primary">
  <div fxFlex="8 1 auto">
    <span>Attribuer une Note</span>
  </div>
</mat-toolbar>
<div class="container">

  <mat-form-field>
    <mat-select placeholder="Liste des Etudiants" [(ngModel)] = "selectedStudent" (selectionChange)="getAllStudentWorksForTeacher($event)" >
      <mat-option *ngFor="let student of students" [value]="student">
        {{student.firstName}}
        {{student.lastName}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <table class="table table-striped">
    <thead>
    <th>Cours</th>
    <th>Travail</th>
    <th>Note</th>
    <th>Action</th>
    </thead>
    <tbody>
    <tr *ngFor="let work of currentWorksAndMarks">
      <td>{{work.courseName}}</td>
      <td> <a href="/api/work/{{work.workid}}/content"> {{work.workFileName}}</a> </td>
      <td>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Note" [(ngModel)] = "work.markValue">
        </mat-form-field>
      </td>

      <td>
      <button class="btn btn-primary" (click)="evaluatedWork(work)">Save</button>
    </td>

    </tr>
    </tbody>
  </table>

  <div class="content-main">

  </div>

</div>

<div fxLayout="row">
  <mat-toolbar color="primary">
    <span>Student-connect Footer</span>
  </mat-toolbar>

</div>
