
<mat-toolbar color="primary">
  <div fxFlex="8 1 auto">
    <span>Liste des Cours</span>
  </div>
</mat-toolbar>

<div class="container">

  <table class="table table-striped">
    <thead>
    <th>Nom du cours</th>
    <th>Actions</th>

    </thead>
    <tbody>
    <tr *ngFor="let course of courses">
      <td><a href="/api/course/{{course.id}}/content">{{course.name}}</a></td>


      <td>
        <button class="btn btn-primary" (click)="Download">Download</button>
      </td>
    </tr>
    </tbody>
  </table>

  <div class="content-main">

  </div>



</div>


<div fxLayout="row">
  <mat-toolbar color="primary">
    <span>Student-connect Footer</span>
  </mat-toolbar>

</div>
