<mat-toolbar  ng-show="!context.logged"  color="primary">
  <mat-toolbar-row>
    <button mat-button routerLink="/">Student-Connect</button>
    <span class="spacer"></span>
    <button mat-button routerLink="/auth/register">Register</button>
    <button mat-button routerLink="/auth/login">Login</button>
  </mat-toolbar-row>
</mat-toolbar>

<div fxLayout="row" *ngIf="isNavVisible">
  <img src="https://dummyimage.com/100x100/000/fff.png" alt="">
  <div fxFlex="1 1 auto">
    <span>Erik Gollot</span> <br>
  </div>
  <div>
    <mat-menu #appMenu="matMenu">
      <button mat-menu-item routerLink="['/teacher',teacherid,'courses']">Ajouter un cours </button>
      <button mat-menu-item routerLink="['/teacher',teacherid,'works']">Afficher les travaux</button>
      <button mat-menu-item routerLink="['/teacher',teacherid,'/marks']"> Attribuer une note</button>
    </mat-menu>
    <button mat-icon-button [matMenuTriggerFor]="appMenu">
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>
</div>
