<div class="medium-list">
  <div class="list-viewer-wrapper">
    <div class="list-header-title">LOGIN HERE</div>

    <form [formGroup]="loginForm" (ngSubmit)=" onLoginSubmit()" novalidate>
      <div class="form-container">
        <mat-form-field>
          <input id="email"
                 matInput
                 formControlName="email"
                 [(ngModel)]="user.email"
                 placeholder="Email"/>
        </mat-form-field>

        <mat-form-field>
          <input id="password"
                 matInput
                 formControlName="password"
                 [(ngModel)]="user.password"
                 placeholder="Password"
                 [type]="hide ? 'password':'text'"/>
        </mat-form-field>

        <button mat-button type="submit"
                class="mat-raised-button mat-primary"> Login
        </button>
        <button mat-button routerLink="/register" class="divider">Register</button>
      </div>
    </form>
  </div>
</div>
