<div class="container">

  <form (ngSubmit)="updateForm()">
    <div class="form group">
      <label for="firstName">Nom</label>
      <input type="text" name="firstName" class="form-control" [(ngModel)]="student.firstName">
    </div>
    <div class="form group">
      <label for="lastName">Prénom</label>
      <input type="text" name="lastName" class="form-control" [(ngModel)]="student.lastName">
    </div>
    <div class="form group">
      <label for="email">Email</label>
      <input type="text" name="email" class="form-control" [(ngModel)]="student.email">
    </div>
    <div class="form group">
      <label for="phone">Téléphone</label>
      <input type="text" name="phone" class="form-control" [(ngModel)]="student.phone">
    </div>
    <div class="form group">
      <label for="birthDate">Date de Naissance</label>
      <input type="text" name="birthDate" class="form-control" [(ngModel)]="student.birthDate">
    </div>
    <div class="form group">
      <label for="photo">Photo</label>
      <input type="text" name="photo" class="form-control" [(ngModel)]="student.photo">
    </div>
    <div class="form group">
      <label for="password">Mot de Passe</label>
      <input type="text" name="password" class="form-control" [(ngModel)]="student.password">
    </div>

    <input type="submit" value="Enregister" class="btn btn-success">
    <button type="button" class="btn btn-warning" (click)="returnHomePage()">Annuler</button>
  </form>
</div>




