<mat-toolbar  ng-show="!context.logged"  color="primary">
  <mat-toolbar-row>
    <button mat-button routerLink="/">Student-Connect</button>
    <span class="spacer"></span>
    <button *ngIf="userType == null" mat-button routerLink="/auth/register">Register</button>
    <button *ngIf="userType == null" mat-button routerLink="/auth/login">Login</button>
    <button  *ngIf="userType != null" (click)="logout()">LogOut</button>
  </mat-toolbar-row>
</mat-toolbar>


<div fxLayout="row" *ngIf="isNavVisible">

  <div fxFlex="1 1 auto" >
    <span> ID: </span> {{studentid}} {{userType}} <br>
  </div>

  <div  *ngIf="userType == 'student'">
    <mat-menu #appMenu="matMenu">
      <button mat-menu-item [routerLink]="['/',userType ,studentid,'courses']">Afficher tous les cours</button>
      <button mat-menu-item [routerLink]="['/',userType ,studentid,'works']">Rendre un travail</button>
      <button mat-menu-item [routerLink]="['/',userType ,studentid,'marks']"> Afficher les Notes</button>
    </mat-menu>
    <button mat-icon-button [matMenuTriggerFor]="appMenu">
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>

  <div  *ngIf="userType == 'teacher'">
    <mat-menu #appMenu="matMenu">
      <button mat-menu-item [routerLink]="['/',userType ,studentid,'courses']">Afficher tous les cours</button>
      <button mat-menu-item [routerLink]="['/',userType ,studentid,'marks']">Afficher les Notes</button>
    </mat-menu>
    <button mat-icon-button [matMenuTriggerFor]="appMenu">
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>

</div>




