<div class="container">

  <form (ngSubmit)="teacherUpdateForm()">
    <div class="form group">
      <label for="firstName">First Name</label>
      <input type="text" name="firstName" class="form-control" [(ngModel)]="teacher.firstName">
    </div>
    <div class="form group">
      <label for="lastName">Last Name</label>
      <input type="text" name="lastName" class="form-control" [(ngModel)]="teacher.lastName">
    </div>
    <div class="form group">
      <label for="email">Email</label>
      <input type="text" name="email" class="form-control" [(ngModel)]="teacher.email">
    </div>
    <div class="form group">
      <label for="phone">Phone</label>
      <input type="text" name="phone" class="form-control" [(ngModel)]="teacher.phone">
    </div>
    <div class="form group">
      <label for="birthDate">BirthDate</label>
      <input type="text" name="birthDate" class="form-control" [(ngModel)]="teacher.birthDate">
    </div>
    <div class="form group">
      <label for="photo">Photo</label>
      <input type="text" name="photo" class="form-control" [(ngModel)]="teacher.photo">
    </div>
    <div class="form group">
      <label for="password">Password</label>
      <input type="text" name="password" class="form-control" [(ngModel)]="teacher.password">
    </div>

    <input type="submit" value="save" class="btn btn-success">
    <button type="button" class="btn btn-warning" (click)="returnHomePage()">Cancel</button>
  </form>
</div>
