<mat-toolbar color="primary">
  <div fxFlex="8 1 auto">
    <span>Inserer un Cours</span>
  </div>
</mat-toolbar>

<div class="container">

  <div fxLayout="row" fxLayoutAlign="space-around center">
    <div fxFlex="5 1 auto" class="selectField">

      <mat-form-field class="CourCreation">
        <input matInput placeholder="cours" [(ngModel)]="newCourseName">
      </mat-form-field>
      <button (click)="createCourse()" class="bnt btn-primary">Créer</button>
    </div>

    <div fxFlex="5 1 auto" class="selectFieldes">
      <form-upload (fileEvent)="onSelect($event)"></form-upload>
    </div>
  </div>

  <div class="content-main">
    <app-course-list [teacherid]="teacherid"></app-course-list>
  </div>

</div>

<div fxLayout="row">
  <mat-toolbar color="primary">
    <span>Student-connect Footer</span>
  </mat-toolbar>

</div>









