<mat-toolbar color="primary">
  <div fxFlex="8 1 auto">
    <span>Liste des Notes</span>
  </div>
</mat-toolbar>

<div class="container">

  <table class="table table-striped">
    <thead>

    <th>Travail</th>
    <th>Notes</th>

    </thead>
    <tbody>
    <tr *ngFor="let work of works">
      <td>{{work.courseName}}</td>
      <td>{{work.markValue}}</td>
    </tr>
    </tbody>
  </table>

  <div class="content-main">

  </div>


</div>


<div fxLayout="row">
  <mat-toolbar color="primary">
    <span>Student-connect Footer</span>
  </mat-toolbar>

</div>


<tr *ngFor="let work of works"></tr>
