<div class="generic-container">
  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading"><span class="lead"> Liste des cours </span></div>

    <div class="form-group">
      <table class="table table-striped">
        <thead>
        <th> File Name</th>
        <th>Action</th>

        </thead>
        <tbody>
        <tr *ngFor="let course of courses">
          <td> {{course.name}}</td>
          <td>
            <button class="btn btn-danger" (click)="deleteCourse()">Delete</button>
          </td>

        </tr>
        </tbody>
      </table>

    </div>
  </div>



