<div class="container">
  <table class="table table-striped">
    <thead>
    <th>Nom</th>
    <th>Prénom</th>
    <th>Email</th>
    <th>Téléphone</th>
    <th>Date de Naissance </th>
    </thead>
    <tbody>
    <tr *ngFor="let student of students">
      <td>{{student.firstName}}</td>
      <td>{{student.lastName}}</td>
      <td>{{student.email}}</td>
      <td>{{student.phone}}</td>
      <td>{{student.birthDate | date:'dd/MM/yyyy' }}</td>
      <td>
        <button class="btn btn-primary" (click)="updateStudent(student)">Edit</button>
        <button class="btn btn-danger" (click)="deleteStudent(student)">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
  <button class="btn btn-primary" (click)="newStudent()">Nouveau Etudiant</button>
</div>
