<div class="container">
  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading"><span class="lead"> List of Teachers </span></div>

    <div class="form-group">
      <label> Search </label>
      <input type="text" [(ngModel)]="motCle" />
    </div>
  <table class="table table-striped">
    <thead>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>phone </th>
    <th>birthDate </th>
    </thead>
    <tbody>
    <tr *ngFor="let teacher of ( teachers | teacherFilter: motCle)">
      <td>{{teacher.firstName}}</td>
      <td>{{teacher.lastName}}</td>
      <td>{{teacher.email}}</td>
      <td>{{teacher.phone}}</td>
      <td>{{teacher.birthDate | date:'dd/MM/yyyy'}}</td>
      <td>
        <button class="btn btn-primary" (click)="updateTeacher(teacher)">Edit</button>
        <button class="btn btn-danger" (click)="deleteTeacher(teacher)">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>

    <!-- <div class="container">
       <ul class="nav nav-pills">
         <li  [ngClass]="{'active':i==currentPage}" *ngFor="let p of pages; let i = index">
           <a class="clickable" (click)="gotoPage(i)"> {{i}} </a>
         </li>
       </ul>
     </div>
-->

   <button class="btn btn-primary" (click)="newTeacher()">New Teacher</button>
   </div>
 </div>
