/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    margin: 0;
    font-size: 20px;
}

.spacer {
    flex-grow: 1;
}


.medium-list {
    margin: auto;
    width: 600px;
    padding: 10px;
  }

  .list-viewer-wrapper {
    border: 2px solid rgba(0, 0, 0, .03);
    box-shadow: 0 2px 2px rgba(0, 0, 0, .24), 0 0 2px rgba(0, 0, 0, .12);
    margin: 2px;
    width: 600px;
  }

  .list-header-title {
    color: rgba(0, 0, 0, .64);
    background: rgba(0, 0, 0, .03);
    padding: 8px 20px;
    font-weight: bold;

    font-family: Roboto,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    padding-top: 1em;
    text-align: center;
  }

  .form-container {
    display: flex;
    flex-direction: column;

  }

  .divider {
    margin-top: 10px !important;
    height: 60px;
    font-size: 24px;
  }

  #password,#role,#phone,#email,#lastname, #name,#photo, placeholder{
    margin-left: 10px;
  }


.mat-button, .mat-icon-button, .mat-stroked-button{
  font-size: 24px;
}

.mat-raised-button{
    height: 60px;
}

.content-main{
  height:615px;
}

.selectFieldes, .input{
  display: flex;
}

.clickable{
  cursor: pointer;
}

.CourCreation{
  width: 40%;
}


