<div class="medium-list">
  <div class="list-viewer-wrapper">
    <div class="list-header-title">CREATE YOUR ACCOUNT HERE</div>

    <form [formGroup]="registerForm" (ngSubmit)="registerForm.valid && onRegisterSubmit()" novalidate>
      <div class="form-container">
        <mat-form-field>
          <input id="name"
                 matInput
                 formControlName="name"
                 [(ngModel)]="user.name"
                 placeholder="Name" />
        </mat-form-field>

        <mat-form-field>
          <input id="lastname"
                 matInput
                 formControlName="lastname"
                 [(ngModel)]="user.lastname"
                 placeholder="Last Name" />
        </mat-form-field>

        <mat-form-field>
            <input id="email"
                   matInput
                   formControlName="email"
                   [(ngModel)]="user.email"
                   placeholder="Email" />
          </mat-form-field>

          <mat-form-field>
            <input id="phone"
                   matInput
                   formControlName="phone"
                   [(ngModel)]="user.phone"
                   placeholder="phone" />
          </mat-form-field>

          <!-- <mat-form-field>
            <input id="role"
                   matInput
                   formControlName="role"
                   [(ngModel)]="user.role"
                   placeholder="Role" />
          </mat-form-field> -->

        <mat-form-field>
            <input id="password"
                   matInput
                   formControlName="password"
                   [(ngModel)]="user.password"
                   placeholder="Password"
                   [type]="hide ? 'password':'text'" />
              <!-- <mat-icon matSuffix (click)="hide = !hide">
                {{hide ? 'visibility' : 'visibility_off'}}
              </mat-icon> -->
          </mat-form-field>

          <mat-form-field>
            <input id="photo"
                   matInput
                   formControlName="photo"
                   [(ngModel)]="user.photo"
                   placeholder="photo" />
          </mat-form-field>

          <button mat-button type="submit"
                  class="mat-raised-button mat-primary"
                  [disabled]="!registerForm.valid">Register</button>
          <button mat-button routerLink="/login" class="divider">Login</button>
      </div>
    </form>
  </div>
</div>
